@page "/photo/{id:int}"
@using Tomoyo.Core.Models
@using Tomoyo.Core.Utilities
@using Tomoyo.Data

@inject TomoyoDatabaseContext DatabaseContext

<PageTitle>@pageTitle</PageTitle>

@if (Photo == null)
{
    <p>Photo not found</p>
}
else
{
    <MudGrid>
        <MudItem md="8">
            <MudImage Fluid="true" Src="@Photo.GetPhotoUrl()" FallbackSrc="@Assets["images/cover.webp"]" Alt="Photo" Class="rounded-lg"/>
        </MudItem>
        <MudItem md="4">
            <MudText Typo="Typo.h6" GutterBottom="true">@Photo.Name</MudText>
            <MudText Typo="Typo.body1">@Photo.Description</MudText>
            <MudText Typo="Typo.body2">@Photo.CreatedAt.ToString("dd/MM/yyyy")</MudText>
        </MudItem>
    </MudGrid>
}


@code {
    [Parameter]
    public int Id { get; set; }
    
    private string pageTitle = "Profile";
    private Photo? Photo { get; set; }

    protected override Task OnInitializedAsync()
    {
        var photo = DatabaseContext.Photos.FirstOrDefault(p => p.Id == Id);
        
        if (photo == null)
        {
            Photo = null;
            pageTitle = "Photo not found";
        }
        else
        {
            Photo = photo;
            pageTitle = photo.Name ?? "Photo";
        }
        
        return base.OnInitializedAsync();
    }
}